/* Folha de Estilos GLOBAL */

/* Ajuste do Box Model com box-sizing */
*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Reset */
body,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* Tamanho da letra */
html {
  font-size: 18px;
}

/* Tipo da letra */
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Bloco/Box/className */
.sombra {
  box-shadow: black 0 2px 10px;
}

.destaque-texto {
  background-color: #4d89c6;
  padding: 4px;
  border-radius: 12px;
}
